a{
    text-decoration: none;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
}

.header{
    background: #0a0a0a;
    padding: 33px 0px 32px;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.phone{
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
    font-size: 24px;
    line-height: 29px;
}

.menu__item{
    padding-right: 30px;

}

/*.menu__link, .phone{
    font-size: 24px;
    line-height: 29px;
}*/

.headline{
    color: #f5f5f5;
    text-align: center;
    padding: 70px 0px 40px;
}

.title{
    text-transform: uppercase;
    margin: 0 0 40px;
    color:  #490E84;
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
}

.headline__img{
    margin-bottom: 25px;
}

.headline__btn{
    display: inline-block;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    background: #490E84;
    color: #fff;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

.new{
    padding: 90px 0px 150px;
}

.new__title, .color__title{
    margin: 0px 0px 50px;
    font-size: 32px;
    text-align: center;
    line-height: 39px;
    font-weight: 700;
    color: #717171;
    text-transform: uppercase;
}

.new__info{
    display: flex;
    align-items: center;

}

.new__text p{
    max-width: 560px;
    margin: 0px 0px 30px;

}

.new__text b{
    max-width: 560px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    display: block;
}

.img__new{
    margin-left: 190px;
}

.color{
    padding-bottom: 150px;

}

.color__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color__item .img{
    margin-bottom: 20px;
}

.color__item h3{
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 10px;
}

.color__item p{
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.contacts__inner{
    display: flex;
    background: #574B63;
    color: #fff;
}

.contacts__form{
    width: 100%;
    padding: 140px 93px;
    text-align: center;

}

.contacts__title{
    margin: 0px 0px 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 30px;
    text-align: left;
}

.contacts__input{
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background:  #574B63;
}

.contacts__input::placeholder{
    font-size: 14;
    line-height: 18px;
    color: #fff;
    opacity: .5;/* raidziu ryskumas*/
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contacts__form p{
    opacity: .5;
    text-align: center;
    margin: 30px 0px;
}

.contacts__form button{
    border: none;
    text-transform: uppercase;
    color: #490E84;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 26px 81px;
    font-weight: 400;
    cursor: pointer;
}

.footer{
    background: #0a0a0a;
}

.footer__link{
    flex-grow: 1;
    flex-basis: 0;
}

.footer__inner{
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

